.banner-center{
	background-image: linear-gradient(-177deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../images/background.jpg) ;
	color: white;
	padding: 100px;
	background-size: cover;
	background-position: center;
	text-align: left;
}

.banner-center h1{
	font-size: 50px;
	color: white;
	font-weight: bold;
}

.banner-center h2{
	font-size: 30px;
	font-weight: light;
	opacity: 0.8;
	margin-bottom: 40px;
	color: white;
}
